{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

 {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
    

    <img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">
      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
      </div>

      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>
    </div>
  <div id="content">
    <div>
      <h3>About</h3>
      <div class="first"><img src="images/model2.jpg" alt="" /></a>
        <h2> S.P.M School</h2>
        <p>S.P.M School was set up in 1918 on the donated land.School atmosphere
is very pleasant and school environment is very clean and
attractive.The school building is located in the centre of the city
.S.P.M School is two storey building having classes for Ist to IVth
class students.The school follows CBSE board norms.S.P.M. Schol is
known for its standard in bringing out best students every year.

       School has one big library,Principal office,staff room,one
computer lab,one common study room,one big sports ground.On one side
of the school there is a big garden.School has highly qualified and
experienced teachers who teach the students in very effective and
creative manner.School has a proper uniform.School has strict norms of
study and hygiene.We teach other things too with the study like
descipline,manners,behave well,punctuality and many more etiquette.

We celebrates all the important days of the year such as Sports
Day,Teacher's Day,Parent's Day,Children's Day,Environment Day,School
Anniversary,Founder's Day,Republic Day,Independence Day,Gandhi
Jayanthi,Onam Celebration,Chrithmas Celebration and New Year
Celebration etc in a good manner.

<br><br><br>
<h4>Teachers in S.P.M school</h4><br>
<ul>
<li>Hema.B&nbsp;&nbsp;-&nbsp;&nbsp;BA,BEd&nbsp;&nbsp;&nbsp; (Principal)</li><br>
<li>Haridas.P&nbsp;&nbsp;-&nbsp;&nbsp;BEd</li><br>
<li>Nisha.M&nbsp;&nbsp;-&nbsp;&nbsp;BEd</li><br>
<li>Sreeja.T.S&nbsp;&nbsp;-&nbsp;&nbsp;BEd</li><br>
</ul>

</p>
      </div>
<br><br><br><br><br><br>
<div id="footer">
<p><center>Copyright &copy; 2016 school.pythonanywhere.com All Rights Reserved   &nbsp; &nbsp; 
<a href="{% url 'privacy' %}">Privacy policy</a>
</p></center>
</div>

    </body>
</html>
