{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
    
    {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />


      <div class="headline">
      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
      </div>

      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      

    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>


 </div>
  <div id="content">
    <div>
      <h3>School Calendar - 2016</h3>
      <div class="calendar">
        <dl>
          <dt><u>JANUARY</u></dt>
          <dd>New Year - Fri, 1</dd>
  <dd> Pongal,Makar Sankranti  - Fri, 15</dd>
          <dd>Republic Day - Tue, 26</dd>
          
         
        </dl>
        <dl>
          <dt><u>FEBRUARY</u></dt>
          
          <dd>Guru Ravidas Jayanti - Mon, 22</dd>
          
        </dl>
        <dl>
          <dt><u>MARCH</u></dt>
          <dd>Maha Shivaratri  - Mon, 7</dd>
          <dd>Holy - Thur, 24</dd>
          <dd>Good Friday - Fri, 25</dd>
          <dd>Easter - Sun, 27</dd>
          
        </dl>
        <dl>
          <dt><u>APRIL</u></dt>
          <dd>Ambedkar Jayanti - Thur, 14</dd>
         
        </dl>
        <dl>
          <dt><u>MAY</u></dt>
          <dd>Rabindranath Tagore Jayanti  - Sat, 7</dd>
          <dd>Shankaracharya Jayanti - Wed, 11</dd>
          
        </dl>
        <dl>
          <dt><u>JUNE</u></dt>
          <dd>School Re-open - Wed, 1</dd>
          
        </dl>
        <dl>
          <dt><u>JULY</u></dt>
          <dd>Eid al-Fitr  - Thur, 7</dd>
         
        </dl>
        <dl>
          <dt><u>AUGUST</u></dt>
          <dd>Independence Day - Mon, 15</dd>
          <dd>Rakhi,Raksha Bandhan  - Thur, 18</dd>
          
          <dd>Krishna Janmashtami  - Thur, 25</dd>
        </dl>
        <dl>
          <dt><u>SEPTEMBER</u></dt>
          <dd>Ganesh Chaturthi  - Mon, 5</dd>
          <dd>Onam,Bakrid - Tue, 13</dd>
          
        </dl>
        <dl>
          <dt><u>OCTOBER</u></dt>
          <dd>Gandhi Jayanthi - Sun, 2</dd>
          <dd>Durga Ashtami  - Sun, 9</dd>
          <dd>Maha Navami  - Mon, 10</dd>
<dd>Vijaya Dhashami - Tue, 11</dd>
          <dd>Diwali - Sun, 30</dd>
          
        </dl>
        <dl>
          <dt><u>NOVEMBER</u></dt>
          
          <dd>Nehru Jayanthi - Mon, 14</dd>
          
        </dl>
        <dl>
          <dt><u>DECEMBER</u></dt>
          
          <dd>Christmas - Sun, 25</dd>
        </dl>
      </div>
    </div>
  </div>
  


<div id="footer">
<p><center>Copyright &copy; 2016 school.pythonanywhere.com All Rights Reserved   &nbsp; &nbsp; 
<a href="{% url 'privacy' %}">Privacy policy</a>
</p></center>
</div>

    </body>
</html>
