{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

    <img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">
      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
      </div>


      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>

  <br><br><br><br>
 
<center>
  <h1><u><font size="50"><p align="30">Onam</u></h1></font>
  <a href="{% url 'onam' %}">
  <img src="{% static "blog/folders_png8742.png" %}" alt="Go to onam" style="width: 10%; height: 10%;" />
  </a>
  
  <br><br><br>
   <h1><u><font size="50">Sports</u></h1></font>
 <a href="{% url 'sports' %}">
 <img src="{% static "blog/folders_png8742.png" %}" alt="Go to sports" style="width: 10%; height: 10%;" />
 </a>

<br><br><br><br>
   <h1><u><font size="30">Independence Day</u></h1></font>
   <a href="{% url 'Independence_Day' %}">
 <img src="{% static "blog/folders_png8742.png" %}" alt="Go to Independence_Day" style="width: 10%; height: 10%;" />
 </a>



 <br><br><br><br><br><br><br><br><br><br>
<div id="footer">
<p><center>Copyright &copy; 2016 school.pythonanywhere.com All Rights Reserved    
<a href="{% url 'privacy' %}">Privacy policy</a>
</p></center>
</div>

    </body>
</html>
