{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

      <div class="headline">
      <font size="10"><center>S.P.M School</center></font>
      </div>


      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>

  

  <h1><u><font size="50": color="blue">onam</u></h1></font>
  <a href="{% url 'onam' %}">
  <img src="{% static "blog/folders_png8742.png" %}" alt="Go to onam" style="width: 20%; height: 20%;" />
  </a>
  <br>
  
   <h1><center><u><font size="50": color="blue">Sports</u></h1></font></center><br><br>
  <img src="{% static "blog/20.jpg" %}" style="width: 30%; height: 20%;"/>
  <img src="{% static "blog/HY14_GITANJALI__HY_1363192g.jpg" %}" style="width: 30%; height: 20%;"/>
<br><br>
   <h1><center><u><font size="50": color="blue">Independence Day</u></h1></font></center><br><br>
   <img src="{% static "blog/images-11.jpeg" %}" style="width: 30%; height: 20%;"/>
   <img src="{% static "blog/images-17.jpeg" %}" style="width: 30%; height: 20%;"/>
   <img src="{% static "blog/images-20.jpeg" %}" style="width: 30%; height: 20%;"/>

    </body>
</html>
