{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
<style>
.mySlides {display:none;}
</style>

</head>

<body>
<div id="page">
  <div id="header">
    <div id="section">

    {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">

      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
      </div>

      <span >303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>

    <div id="tagline">
      <div>
        <h2>OUR MISSION </h2>
        <P>To impart Knowledge<br>
        and Wisdom with Love<br>
        and Dedication.</P>

       
      </div>
    </div>
  </div>


  
  <div id="box">
<table border="5" align="right">
<tr><td>
<font size="4"><center>
<b>News and Updates</b>
</center>
</font><br>
<marquee behavior=scroll direction="up" scrollamount="2"><i>
&#9733;<b>First Terminal Examination </b>- 2016 for all <br>classes
starts from 29th August onwards<br>
<br>
&#9733;The <b>Independence Day</b> will be <br>celebrated  at the
school's premises on Monday <br>15 August 2016 at 10:00 AM.All
Teachers,Staffs<br> and Students are requested to<br> attend the
celebration.<br>
<br>
&#9733; <b>PTA </b>General Body Meeting on 23 July 2016<br>
<br>
&#9733; We celebrated <b>Reading Day </b>on <b>19 June <br>2016
</b>with a week-long series of activities at <br>school. An awareness
about the importance of<br> reading was given to all the students.<br>
<br>
&#9733; <b>World Environment Day</b> was celebrated on  <br><b>June 5
2016</b>. Students and staff participated <br>in plantation drives to
make their surrounding <br>green.Potted plants were added to the
school<br> garden and students were encouraged to <br>participate in
drawing and poster making <br>competitions with environment-related
topics. <br>
<br>
</i>
</marquee>
</td>
</tr>
</table>


<table border="1" align="left" >

<tr><td><font size="5"><center><b><u>Latest Events</u></center></b></font><br>

<div id="slider">
<center><i><font size="3" color="orange">&#9733; Indep</font><font
color="white">enden</font><font color="green">ce Day
&#9733;</font></i></center>
  <img class="mySlides" src="{% static "blog/images-17.jpeg" %}"
style="width: 350px; height: 300px;" />
  <img class="mySlides" src="{% static "blog/images-11.jpeg" %}"
style="width: 350px; height: 300px;" />
  <img class="mySlides" src="{% static "blog/images-20.jpeg" %}"
style="width: 350px; height: 300px;" />

  <img class="mySlides" src="{% static "blog/ldh3.jpg" %}"
style="width: 350px; height: 300px;" />
<img class="mySlides" src="{% static "blog/images.jpeg" %}"
style="width: 350px; height: 300px;" />

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
</td></tr>
</table> </center></font></td></tr></table>

</div>
  <div id="content">
    <div id="home">
      <div>
        <div id="aside">


          <div>
            <h1>Welcome to <span class="last">S.P.M School</span></h1>
            <img src= "blog/model1.jpg" alt="" /></a>
            <p>What makes a child gifted and talented may not always be good grades
               in school, but a different way of looking at the world and learning
               from the school.</p>
            <p>Education is the most powerful weapon which you can use to change the
world.A school is temple of knowledge  where we can learn how to live
our social life.Educational institutions are the true seats of
learning.The students ,who are really anxious to learn,can develop
healthy habits only in the schools.In a school,students are taught how
to move in society, how to behave with others and how to progress in
life.</p>

<p>S.P.M School is a well reputed school, enjoys the distinction of being
the top school in Kerala with excellent board results and well known
achievements in the field of athletic and other extra curricular
activities. It was started in the year 1918 as a lower primary and now
successfully marching towards with the pride of bringing out the best
students every year.</p>


<p>Our school has beautiful infrastructure for class room learning and a
well equipped staff of qualified teachers playing a major roll in not
just teaching but in shaping and moulding the citizens of tomorrow and
also make them shine where they are.
</p>

<p>S.P.M school strives to provide the best of modern education and a
more holistic educational experience to the young minds. Its ambience
teamed with a positive outlook unleashes a dynamic and dazzling
climate to fulfilltheir creative urges and provide a platform to
showcase their talents.
</p>


<p>Thank you for visiting us. We hope this website will convey our sense
of purpose, our commitment to excellence, and our devotion to the
holistic development of each student.</p>








</div>
<br><br><br><br>
<div id="footer">
<p>Copyright &copy; 2016 school.pythonanywhere.com All Rights Reserved    
<a href="{% url 'privacy' %}">Privacy policy</a>
</p>
</div>
</body>
</html>



