{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M.l.P School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>

<body>
<div id="page">
  <div id="header">
    <div id="section">

<div class="icon">
<p><font size="10"><left> <li><a href="{% url 'about' %}">&#10020;</a></li></p></font>
</div>

      <div class="headline">
      <font size="10"><center>S.P.M.L.P School</center></font>
      </div>

     
      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'class_a' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>

    <div id="tagline">
      <div>
        <h4>S.P.M.L.P School</h4>
       
      </div>
    </div>
  </div>
  <div id="content">
    <div id="home">
      <div>
        <div id="aside">
          <div>
            <h1>Welcome to <span class="last">S.P.M.L.P School</span></h1>
            <a href="#"><img src= "blog/model1.jpg" alt="" /></a>
            <p>What makes a child gifted and talented may not always be good grades
               in school, but a different way of looking at the world and learning
               from the school.</p>
            </div>
            
        


</body>
</html>



