{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M.l.p School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
      <div><a href="index.html"><img src="images/logo.gif" alt="" /></a></div>
      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
    <ul>
      <li class="current"><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="admissions.html">Admissions</a></li>
      <li><a href="training-courses.html">Training Courses</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="school-calendar.html">School Calendar</a></li>
      <li><a href="contact-us.html">Contact us</a></li>
    </ul>
    <div id="tagline">
      <div>
        <h4>Cum Sociis Nat PENATIBUS</h4>
        <p>Aenean leo nunc, fringilla a viverra sit amet, varius quis magna. Nunc vel mollis purus.</p>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="home">
      <div>
        <div id="aside">
          <div>
            <h1>Welcome to <span class="last">Aviation School</span></h1>
            <a href="#"><img src="images/model1.jpg" alt="" /></a>
            <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
            <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
          </div>
          <ul>
            <li>
              <h2><a href="#">Our <span class="last">Curabitur dictum</span></a></h2>
              <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
              <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
            </li>
            <li>
              <h2><a href="#">Nam a mauris <span class="last">Pellentesque</span></a></h2>
              <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
              <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
            </li>
          </ul>
        </div>
        
{% for post in posts %}
<div class="post">
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

</body>
</html>



