{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Attendance register</title>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}

</style>
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

     <img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">

      <font size="10"><center>S.P.M School</center></font>
     <font size="3"><center>Established 1918</center></font>
      </div>

      <span >303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      
    </ul>
    
 <div id="content">
 <div>

<h1><center><u>ATTENDANCE-REGISTER</u></center></h1><br>
<h2><center><i>IIIrd Standard</i></center></h2>
<h4>Class in-charge: Hema.B <br><br>
Date: June 2016 - March 2017</h4>


<form method='get' action="#">


 {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<table style="width:100%">
  <tr>
<th>Slno</th>
    <th>Name</th>
    <th>Attendance</th> 
    </tr>
  <tr>
<td>1</td>
    <td>Anupama</td>
    <td>{{ ba }}
     <input type="submit" value="Present" name="add40"/>
     <input type="submit" value="absent" name="add41"/>  
     {{ bb }}
</td>
  </tr>
  <tr>
<td>2</td>
    <td>Badhri</td>
    <td>{{ bc }}
     <input type="submit" value="Present" name="add42"/>
     <input type="submit" value="absent" name="add43"/>  
     {{ bd }}</td>
    
  </tr>
  <tr>
<td>3</td>
    <td>Devika</td>
    <td>{{ be }}
     <input type="submit" value="Present" name="add44"/>
     <input type="submit" value="absent" name="add45"/>  
     {{ bf }}</td>
    
  </tr>
 <tr>
<td>4</td>
    <td>Govind</td>
    <td>{{ bg }}
     <input type="submit" value="Present" name="add46"/>
     <input type="submit" value="absent" name="add47"/>  
     {{ bh }}</td>
    
  </tr>
 <tr>
<td>5</td>
    <td>Hashim</td>
    <td>{{ bi }}
     <input type="submit" value="Present" name="add48"/>
     <input type="submit" value="absent" name="add49"/>  
     {{ bj }}</td>
   
  </tr>
 <tr>
<td>6</td>
    <td>Manisha</td>
    <td>{{ bk }}
     <input type="submit" value="Present" name="add50"/>
     <input type="submit" value="absent" name="add51"/>  
     {{ bl }}</td>
   
  </tr>
 <tr>
<td>7</td>
    <td>Nithya</td>
    <td>{{ bm }}
     <input type="submit" value="Present" name="add52"/>
     <input type="submit" value="absent" name="add53"/>  
     {{ bn }}</td>
    
  </tr>
 <tr>
<td>8</td>
    <td>Pranav</td>
    
    <td>{{ bo }}
     <input type="submit" value="Present" name="add54"/>
     <input type="submit" value="absent" name="add55"/>  
     {{ bp }}</td>
  </tr>
 <tr>
<td>9</td>
    <td>Shilpa</td>
    
    <td>{{ bq }}
     <input type="submit" value="Present" name="add56"/>
     <input type="submit" value="absent" name="add57"/>  
     {{ br }}</td>
  </tr>
 <tr>
<td>10</td>
    <td>Tony</td>
    
    <td>{{ bs }}
     <input type="submit" value="Present" name="add58"/>
     <input type="submit" value="absent" name="add59"/>  
     {{ bt }}</td>
  </tr>


</table>
<br>

</form>

<br><br><br>

<div id="footer">
<p><center>Copyright &copy; 2016 school.pythonanywhere.com All Rights Reserved  &nbsp; &nbsp;  
<a href="{% url 'privacy' %}">Privacy policy</a>
</p>
</div>
</body>
</html>
