{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Attendance register</title>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}

</style>
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

    
      <div class="headline">

      <font size="10"><center>S.P.M School</center></font>
     
      </div>

      <span >303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      
    </ul>
 

<h1><center><u>ATTENDANCE-REGISTER</u></center></h1><br>
<h2><center><i>IIst Standard</i></center></h2>
<h4>Class in-charge: Hema.B <br><br>
Date: June 2016 - March 2017</h4>


<form method='get' action="#">

 {% if user.is_authenticated %}
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}

<table style="width:100%">
  <tr>
<th>Slno</th>
    <th>Name</th>
    <th>Attendance</th> 
    </tr>
  <tr>
<td>1</td>
    <td>Arun</td>
    <td>{{ u }}
<input type="submit"  value="present" name="add20"/>
<input type="submit" value="absent" name="add21"/>
{{ v }}
</td>
  </tr>
  <tr>
<td>2</td>
    <td>Bibin</td>
    <td>{{ w }}
<input type="submit"  value="present" name="add22"/>
 <input type="submit" value="absent" name="add23"/>
{{ x }}</td>
  </tr>
  <tr>
<td>3</td>
    <td>Chippy</td>
    <td>{{ y }}
<input type="submit"  value="present" name="add24"/>
 <input type="submit" value="absent" name="add25"/>
{{ z }} </td>

  </tr>
 <tr>
<td>4</td>
    <td>Fathima</td>
    <td>{{ aa }}
<input type="submit"  value="present" name="add26"/>
 <input type="submit" value="absent" name="add27"/>
{{ ab }} </td>

  </tr>
 <tr>
<td>5</td>
    <td>Karthik</td>
    <td>{{ ac }}
<input type="submit"  value="present" name="add28"/>
 <input type="submit" value="absent" name="add29"/>
{{ ad }}</td>

  </tr>
 <tr>
<td>6</td>
    <td>Lakshmi</td>
    <td>{{ ae }}
<input type="submit"  value="present" name="add30"/>
 <input type="submit" value="absent" name="add31"/>
{{ af }}</td>

  </tr>
 <tr>
<td>7</td>
    <td>Naveen</td>
    <td>{{ ag }}
<input type="submit"  value="present" name="add32"/>
 <input type="submit" value="absent" name="add33"/>
{{ ah }}</td>

  </tr>
 <tr>
<td>8</td>
    <td>Prithvi</td>

    <td>{{ ai }}
<input type="submit"  value="present" name="add34"/>
 <input type="submit" value="absent" name="add35"/>
{{ aj }}</td>
  </tr>
 <tr>
<td>9</td>
    <td>Rinu</td>

    <td>{{ ak }}
<input type="submit"  value="present" name="add36"/>
 <input type="submit" value="absent" name="add37"/>
{{ al }}</td>
  </tr>
 <tr>
<td>10</td>
    <td>Sangeetha</td>

    <td>{{ am }}
<input type="submit"  value="present" name="add38"/>
 <input type="submit" value="absent" name="add39"/>
{{ an }}</td>
  </tr>



</table>
<br>

</form>
</body>
</html>
