{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Attendance register</title>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}

</style>
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

    
    <img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">

      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
     
      </div>

      <span >303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      
    </ul>
 
 <div id="content">
 <div>
<h1><center><u>ATTENDANCE-REGISTER</u></center></h1><br>
<h2><center><i>Ist Standard</i></center></h2>
<h4>Class in-charge: Hema.B <br><br>
Date: June 2016 - March 2017</h4>

<form method='get' action="#">
   


<table style="width:100%">
  <tr>
<th>Slno</th>
    <th>Name</th>
    <th>Attendance</th> 
    </tr>
  <tr>
<td>1</td>
    <td>Abijith</td>
    <td>{{ p }}
     <input type="submit" value="Present" name="add"/>
     <input type="submit" value="absent" name="add1"/>  
     {{ a }}
</td>
  </tr>
    <tr>
<td>2</td>
    <td>Adithya</td>
    <td>{{ b }}
<input type="submit"  value="present" name="add2"/>
<input type="submit" value="absent" name="add3"/>
{{ c }}</td>
    </tr>

  <tr>
<td>3</td>
    <td>Bavana</td>
    <td>{{ d }}
<input type="submit"  value="present" name="add4"/>
<input type="submit" value="absent" name="add5"/>
{{ e }}</td>
    </tr>

 <tr>
<td>4</td>
    <td>Bibin</td>
    <td>{{ f }}
<input type="submit"  value="present" name="add6"/>
<input type="submit" value="absent" name="add7"/>
{{ g }}</td>
    </tr>

 <tr>
<td>5</td>
    <td>Devan</td>
    <td>{{ h }}
<input type="submit"  value="present" name="add8"/>
<input type="submit" value="absent" name="add9"/>
{{ i }}</td>
   </tr>

 <tr>
<td>6</td>
    <td>Faizal</td>
    <td>{{ j }}
<input type="submit"  value="present" name="add10"/>
<input type="submit" value="absent" name="add11"/>
{{ k }}</td>
   </tr>

 <tr>
<td>7</td>
    <td>Ganga</td>
    <td>{{ l }}
<input type="submit"  value="present" name="add12"/>
<input type="submit" value="absent" name="add13"/>
{{ m }}</td>

  </tr>
 <tr>
<td>8</td>
    <td>Haris</td>
    <td>{{ n }}
<input type="submit"  value="present" name="add14"/>
<input type="submit" value="absent" name="add15"/>
{{ o }}</td>
  </tr>

 <tr>
<td>9</td>
    <td>Jamsina</td>
    <td>{{ q }}
<input type="submit"  value="present" name="add16"/>
<input type="submit" value="absent" name="add17"/>
{{ r }}</td>
  </tr>

 <tr>
<td>10</td>
    <td>Tara</td>
    <td>{{ s }}
<input type="submit"  value="present" name="add18"/>
<input type="submit" value="absent" name="add19"/>
{{ t }}</td>
  </tr>


</table>
</form>



   </div>
</body>
</html>
