{% load staticfiles %}
 

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<title>S.P.M School</title>

 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<style>
table, th, td {
    border: 0px solid black;
}
</style>
<script>
function validateForm() {
    var mail = document.forms["myForm"]["email"].value;
var psd = document.forms["myForm"]["password"].value;
    var atpos = mail.indexOf("@");
    var dotpos = mail.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=mail.length) {
        alert("Not a valid e-mail address");
        return false;

   }
if (psd == null || psd == "") {
        alert("Not a valid Password");
        return false;
    }

}


</script>

</head>
<body>
 
 <div id="page">
  <div id="header">
    <div id="section">

      <div class="headline">
      <font size="10": color="white"><center>S.P.M.L.P School</center></font>
      </div>


      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
    </ul>

<br><br>
  <section class="container">
    <div class="login">
    
    
    <div id="section"><br><br>
      <h1><center>Login As<font color="red"> Admin</font></center></h1><br>
       </div>

         <form name="myForm" action="{% url 'class_info' %}" onsubmit="return validateForm();" method="post">


        

        <input type='hidden' name='csrfmiddlewaretoken' value='wu5eSIDElr8EsVDgXmHmFNCCmSLdhyK5' />
         {%csrf_token%}

      
     <div class="text">
        <p><center><input type="text" name="email"  placeholder="Username or Email"></p></center>
        <p><center><input type="password" name="password" placeholder="Password"></p></center>
        <p class="remember_me">
        

            
          
        </p>
        <center><p class="submit"><input type="submit" name="commit" value="Login"></p></center>
      </form>
    </div>

    
  </section>

 
</body>
</html>