{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>S.P.M School</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">

<img src="{% static "blog/sclogo.png" %}" style= "width: 100px; height: 75px;" align="left" />

      <div class="headline">
      <font size="10"><center>S.P.M School</center></font>
      <font size="3"><center>Established 1918</center></font>
      </div>

      <span>303nishanth@gmail.com <br />
      <br />
      +91 9961685892</span> </div>
      
    <ul>
      <li class="#"><a href="/">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'event' %}">Event</a></li>
      <li><a href="{% url 'calendar' %}">School Calendar</a></li>
      <li><a href="{% url 'contact' %}">Contact us</a></li>
      <li><a href="{% url 'login' %}"><font color="red">School Staff Only</font></a></li>
    </ul>

    </div>
  <div id="content">
    <div>

     <h3>Privacy policy</h3>
      <div class="first"> <img src="images/model2.jpg" alt="" /></a>

        <p>We respects your privacy and recognizes the need to protect
the personally identifiable information (any information by which you
can be identified, such as name, address, and telephone number) you
share with us. We would like to assure you that we follow appropriate
standards when it comes to protecting your privacy on our web sites.
In general, you can visit school.pythonanywhere.com website without
telling us who you are or revealing any personal information about
yourself. We track the Internet address of the domains from which
people visit us and analyze this data for trends and statistics, but
the individual user remains anonymous.<br>

If our privacy policy changes in the future, it will be posted here
and a new effective date will be shown. You should access our privacy
policy regularly to ensure you understand our current policies. Please
reference the privacy policy in your subject line. We will attempt to
respond to all reasonable concerns or inquiries within five business
days of receipt. Thank you for using school.pythonanywhere.com!
</p>
      </div>

    </body>
</html>
    